.parent-container {
    height: 100vh;
    overflow: hidden;
}

.parent-container h1 {
    font-size: 50px;
    border-bottom: 2px dashed rgb(73, 72, 72);
    width: max-content;
}

.parent-container p b {
    color: rgb(29, 175, 233);
}

.parent-container p {
   font-size: 30px;
}

.brand-container {
    border-left: 10px solid rgb(73, 72, 72);
    padding-left: 15px;
   
}

.parent-container .row {
    border: 10px solid black;
     transition: transform 2s;  
}

.parent-container .row:hover {
    transform: rotate(10deg);   
}

 @media screen and (max-widht: 550px) {
    .parent-container .row {
        border: none;
        transform: rotate(0deg);
    }
    .parent-container .row img {
        width: 300px;
    }
} 

